<h1>Магазины и сервисы</h1>
<p>
	<table class="table table-striped">
		<tr>
		  <td>Кемерово<br> пр-т Кузнецкий 33/1, ТЦ "Облака"</td>
		  <td>пн-пт 9:00-19:00, сб 9:00-18:00, вс 9:00-17:00</td>
		  <td>8(3842) 90-14-25</td>
		</tr>
		<tr>
		  <td>Кемерово<br> Дзержинского 23</td>
		  <td>пн-пт 9:00-19:00, сб 9:00-18:00, вс 9:00-17:00</td>
		  <td>8(3842) 45-24-05</td>
		</tr>
		<tr>
		  <td>Бердск<br> Первомайская 14а</td>
		  <td>пн-пт 9:00-19:00, сб 9:00-18:00, вс 9:00-17:00</td>
		  <td>8(383 41) 5-50-15</td>
		</tr>
	</table>
</p>
